
singularity {
    enabled = true
    autoMounts = true
}

process {
  withLabel: 'bioconductor'   { container = 'bioconductor.4.0' }
  withLabel: 'rocker'         { container = 'rocker/tidyverse:latest' }
  withLabel: 'bcftools'       { container = 'bcftools.1.19' }
  withLabel: 'plink'          { container = 'plink.1.9' }
}
    
params {
    // Default params
    genome        = 'hg38'
    style         = 'UCSC'
    cohort_type   = 'cases'
    GQ            = 10
    DP            = 5
    VAF           = 0.2
    MAF           = 0.5
    HWE           = 1e-5
    ExcHet        = 0.5
    AF            = 0.5
    DS            = 0.2
    CADD          = 5
    categories    = 'Pathogenic,Damaging,Splicing,High,PTV,Stop,Rare,Unfiltered'
    variables     = 'rlist,snplist,frqx,frq.strat,frq.cc,frq.counts'
    coding        = false
    normalize     = true
    pass          = true
    missing_as_ref= true
    fill          = true
    vep_tag       = 'CSQ'
    freq_tag      = 'VEP'
    AF_COL        = 'gnomADe_AF'
    chunk         = 100000000
    remove_lc     = true
    remove_common = true
    remove_benign = true
    remove_conflicting = true
    family_id = true
    annotate  = false
}

profiles {
  // Resource profiles
  local     { includeConfig 'conf/local.config' }
  cluster   { includeConfig 'conf/cluster.config' }
  dynamic   { includeConfig 'conf/dynamic.config' }
  
  // Test profile (Same as default params)
  test {
    params {
      cohorts = "input/cohorts_input.csv"
    }
  }

  test_minimal {
    params {
      cohorts     = "input/cohorts_input_minimal.csv"
      categories  = 'Damaging'
      variables   = 'rlist'
    }
  }

  test_coding {
    params {
      categories = 'Rare'
      cohorts = "input/cohorts_input.csv"
      coding  = true
      chunk   = 10000
    }
  }

  test_list {
    params {
      categories = 'Rare'
      cohorts = "input/cohorts_input.csv"
      coding  = true
      chunk   = 10000
      fill    = true
    }
  }

  test_unfiltered {
    params {
      categories = 'Unfiltered'
      cohorts = "input/cohorts_input.csv"
    }
  }
  test_annotate {
    params {
      categories = 'Stop'
      cohorts    = "input/cohorts_input_annotate.csv"
      annotate   = true
    }
  }
}
